<form (ngSubmit)="f.form.valid && agregarValor()" #f="ngForm">
    <div class="agregar">
        <div class="agregar_contenedor">
            <select [ngClass]="{'redfocus': tipo === 'egresoOperacion'}" (change)="tipoOperacion($event)" class="agregar_tipo">
                <option value="ingresoOperacion" selected> + </option>
                <option value="egresoOperacion"> - </option>
            </select>
            <input [ngClass]="{'redfocus': tipo === 'egresoOperacion'}" type="text" name="descripcionInput" [(ngModel)]="descripcionInput" class="agregar_descripcion" placeholder="Agregar Descripción" required >
            <input [ngClass]="{'redfocus': tipo === 'egresoOperacion'}" type="number" name="valorInput" [(ngModel)]="valorInput" class="agregar_valor"  placeholder="Valor" required >
            <button type="submit" class="agregar_btn" >
                        <i [ngClass]="{'red': tipo === 'egresoOperacion'}" class="bi bi-plus-circle-fill">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="45" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                            </svg>
                        </i>
            </button>
        </div>
    </div>
  </form>